html {
  font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

h1 {
  color: rgb(58, 182, 232);
  font-size: 24px;
}

.info {
  margin-left: 20%;
}

.form {
  height: 30px;
  width: 350px;
}

select {
  font-size: 20px;
}

button {
  margin: 3%;
  margin-left: 30%;
  padding: 5px 30px;
  border-width: 2px;
  border: 2px solid transparent;
  border-color: #FF811E;
  background-color: transparent;
  color: #FF811E;
  font-size: 16px;
  font-family: sofia-pro,sans-serif;
  display: inherit;
}

span {
  font-size: 16px;
}

input {
  font-size: 26px;
}
